.signin-container {
    height: 200px;
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 250px;
    left: 450px;
    position: absolute;
  }
  
  .form {
    margin: 0 30px;
    padding: 40px;
    border: none;
    border-radius: 0px;
    background-color: #fff;
  }
  
  .form-ip-sec {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  
  .form-ip-sec label {
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .form-ip-sec input {
    padding: 12px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-ip-sec input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .submit-btn {
    background-color: #408cf0;
    border-radius: 30px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: 0;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .new-user-register {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
  }
  
  .new-user-register a {
    color: #007bff;
    margin-left: 6px;
    text-decoration: none;
  }
  
  .new-user-register a:hover {
    color: #0056b3;
  }
  
  @media (max-width: 900px) {
    .signin-container {
      transform: translateY(36%);
    }
  }